.DS_Store
.coverage
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
htmlcov/
__pycache__/
*.py[cod]
*.egg-info/
*.so
target/
outputs/**/node_modules/
reports/**/*.log
reports/**/*.pid
/site/
